	<!-- Open Graph -->
	<meta property="og:locale" content="{{ site.locale }}">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	{% if page.excerpt %}
  <meta property="og:description" content="{{ page.excerpt | strip_html }}">
  {% else %}
  <meta property="og:description" content="Radish Lab's Tips & Techniques for using the NationBuilder platform">
  {% endif %}
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
	<meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:image" content="http://nationbuilder-guide.chrisheuberger.com/images/nationbuilder-guide-social.png" />

  <!-- Twitter Cards -->
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  {% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt | strip_html }}">
  {% else %}
  <meta name="twitter:description" content="Radish Lab's Tips & Techniques for using the NationBuilder platform">
  {% endif %}
  {% if site.owner.twitter %}<meta name="twitter:site" content="@RadishLab">{% endif %}
  {% if author.twitter %}<meta name="twitter:creator" content="@RadishLab">{% endif %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="http://nationbuilder-guide.chrisheuberger.com/images/nationbuilder-guide-social.png">
  <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
